.grid-container {
	width: 1000px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -400px 0 0 -500px;

	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: minmax(1.5fr, auto);;
	gap: 5px;
	grid-auto-flow: row;
	grid-template-areas:
		"Header Header"
		"About Contact";
}

.Header { 
	grid-area: Header; 
	background-color: red;
}

.About { 
	grid-area: About;
	background-color: blue;
}

.Contact { 
	grid-area: Contact;
	background-color: green;
}

@media (max-width: 1000px) {
	.container {
		grid-template-areas:
		'Header Header'
		'About About'
		'Contact Contact';
	}
}
